.body {
    background: blue;
}

.container {
    background: yellow;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.balloon {
    width: 120px;
    height: 40px;
    border: 1px dashed red;
    flex-grow: 1;
}