.body {
    background: blue;
}

.container {
    background: yellow;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.balloon {
    position: relative;
    flex-grow: 1;
    width: 50px;
    margin: 3px;
    background: rgb(20,189,34);
    opacity: .9;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    animation: float 6s ease-in-out infinite; 
}
.balloon:after {
    position: absolute;
    background: inherit;
    bottom: -5px;
    left: 18px;
    display: block;
    content: '';
    height: 10px;
    width: 3px;
    border-radius: 100%;
}